<p-table [(selection)]="selectedData" [value]="DATA" [scrollable]="true" scrollHeight="400px"
         styleClass="p-datatable-gridlines"
         [tableStyle]="{'min-width': '50rem'}">
  <ng-template pTemplate="header">
    <tr>
      <ng-container *ngFor="let h of headers">
        <th style="width: 4rem" *ngIf="h == 'selected'" (click)="onSelectClick()">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th *ngIf="h !== 'actions' && h !== 'selected'">{{h}}</th>
        <th *ngIf="h === 'actions'"></th>
      </ng-container>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-data>
    <tr>
      <ng-container *ngFor="let h of headers">
        <td *ngIf="h == 'selected'" (click)="onSelectClick()">
          <p-tableCheckbox [value]="data"></p-tableCheckbox>
        </td>
        <td *ngIf="h !== 'actions' && h !== 'selected'">{{displayData(h, data)}}</td>
        <td *ngIf="h === 'actions'">
        </td>
      </ng-container>
    </tr>
  </ng-template>
</p-table>
